@tailwind base;
@tailwind components;
@tailwind utilities;

.njox {
    background-image: url(./assets/images/chai.jpg);
    background-repeat: round;
    background-position: center;
    object-fit: cover;
    text-align: center;
    padding: 150px;
}

body {
    user-select: none;
}