@tailwind base;
@tailwind components;
@tailwind utilities;

.njox {
    background-image: url(./assets/images/chai.jpg);
    background-repeat: round;
    background-position: center;
    object-fit: cover;
    text-align: center;
    padding: 150px;
    background-blend-mode: multiply;
}

/* body {
    user-select: none;
} */


.bloglist-center{
    max-width: 900px;
    margin: 0 auto;
}

.footer-mh{
    bottom: 0;
    position: fixed;
    width: 100%;
}